@charset "UTF-8";
@media screen and (max-width: 768px) {
  .dis-pc {
    display: none;
  }
}

.dis-sp {
  display: none;
}

@media screen and (max-width: 768px) {
  .dis-sp {
    display: block;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.inner {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

body {
  font-family: "ヒラギノ明朝 ProN", "Yu Gothic", yugothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #59493f;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  overflow-x: hidden;
  overflow-wrap: break-word;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
}

a {
  text-decoration: none;
  color: #59493f;
}

a:hover {
  opacity: 0.7;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

header {
  padding: 10px 10px 30px 10px;
  border-bottom: 3px solid #d60e4c;
}

header .header_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header_flex .header_right .contact_box {
  text-align: center;
  font-weight: bold;
  font-size: 0.8rem;
  background-color: #ffdcec;
  padding: 10px;
  color: #d60e4c;
}

header .header_flex .header_right .contact_box .contact_box_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header_flex .header_right .contact_box .contact_box_flex .contact_box_tel {
  padding: 0 10px;
}

header .header_flex .header_right .contact_box .contact_box_flex .contact_box_tel .contact_box_tel_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header_flex .header_right .contact_box .contact_box_flex .contact_box_tel_flex_hour .contact_time span {
  color: #59493f;
}

header .header_flex .header_right .contact_box .contact_box_flex .contact_box_tel_flex_hour .contact_box_tel_flex_number {
  font-size: 1.5rem;
}

header .header_flex .header_right .contact_box .contact_box_flex .contact_box_com {
  padding: 0 10px;
  border-right: 2px solid #f19ec2;
  border-left: 2px solid #f19ec2;
}

header .header_flex .header_right .contact_box .contact_box_flex .contact_box_com .contact_box_com_message {
  color: #d60e4c;
}

header .header_flex .header_right .contact_box .contact_box_flex .contact_box_home {
  padding: 0 10px;
  border-right: 2px solid #f19ec2;
}

header .header_flex .header_right .contact_box .contact_box_flex .contact_box_home .contact_box_home_message {
  color: #d60e4c;
}

header .header_flex .header_right .contact_box .contact_box_flex .contact_box_hum {
  padding: 0 10px;
}

header .header_flex .header_right .contact_box .contact_box_flex .contact_box_hum .contact_box_hum_message {
  margin-bottom: 5px;
  color: #d60e4c;
}

.global_nav {
  margin-top: 10px;
  padding: 10px;
  text-align: center;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav .nav-items a {
  color: #d60e4c;
  font-weight: bold;
  position: relative;
  display: inline-block;
}

.header-nav .nav-items a::after {
  position: absolute;
  bottom: -15px;
  left: 0;
  content: '';
  width: 100%;
  height: 5px;
  background: #d60e4c;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.header-nav .nav-items a:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.main_area {
  background-image: url(../img/assets/background_pink.png);
  background-size: cover;
  background-position: center center;
  position: relative;
  margin-top: 10px;
}

.main_area .main_area_back {
  position: relative;
  z-index: 1;
}

.main_area .safe_pay {
  text-align: center;
  width: 40%;
  position: absolute;
  top: 100px;
  z-index: 10;
}

.about {
  background-image: url(../img/assets/back_yellow.png);
  background-size: cover;
  background-position: center center;
  position: relative;
  padding: 20px;
}

.about .about_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .about_flex .about_left {
  width: 45%;
}

.about .about_flex .about_right {
  width: 55%;
}

.about .about_flex .about_right .about_message {
  font-weight: bold;
}

.menu {
  background-image: url(../img/assets/back_white.png);
  background-size: cover;
  background-position: center center;
  padding: 20px;
  position: relative;
}

.menu .menu_massage_picture {
  position: absolute;
  top: 5%;
  right: 23%;
}

.menu .menu_message_box {
  background-color: #fff;
  width: 80%;
  padding: 20px;
  margin-top: 100px;
  -webkit-box-shadow: 0 0 8px #d60e4c;
          box-shadow: 0 0 8px #d60e4c;
  border-radius: 10px;
}

.menu .menu_message_box_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.menu .menu_message_box_flex .menu_message_box_left {
  width: 57%;
  font-weight: bold;
  position: relative;
}

.menu .menu_message_box_flex .menu_message_box_left .details {
  width: 50%;
  margin-left: auto;
  margin-right: 0px;
  padding-top: 20px;
}

.menu .menu_message_box_flex .menu_message_box_left .details .details_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu .menu_message_box_flex .menu_message_box_left .details .details_flex a {
  color: #d60e4c;
}

.menu .menu_message_box_flex .menu_message_box_right {
  padding: 0 20px 0;
  position: relative;
  width: 30%;
}

.menu .menu_bbl_area {
  position: relative;
}

.menu .menu_bbl_area .menu_message_box_bbl_picture {
  position: absolute;
  top: 5%;
  left: 15%;
}

.menu .menu_message_box_bbl {
  background-color: #fff;
  width: 70%;
  padding: 50px 30px;
  margin-top: 80px;
  -webkit-box-shadow: 0 0 8px #d60e4c;
          box-shadow: 0 0 8px #d60e4c;
  border-radius: 10px;
  margin-left: auto;
  margin-right: 0px;
}

.menu .menu_message_box_bbl .menu_message_box_bbl_text {
  width: 65%;
  margin-left: auto;
  margin-right: 0px;
  font-weight: bold;
}

.menu .menu_message_box_bbl .menu_message_box_bbl_text .details {
  width: 70%;
  margin-left: auto;
  margin-right: 0px;
  padding-top: 20px;
}

.menu .menu_message_box_bbl .menu_message_box_bbl_text .details .details_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu .menu_message_box_bbl .menu_message_box_bbl_text .details .details_flex a {
  color: #d60e4c;
}

.hife {
  background-image: url(../img/assets/back_pink_flower.png);
  background-size: cover;
  background-position: center center;
  padding: 20px;
  position: relative;
}

.hife .menu_massage_picture {
  position: absolute;
  top: 5%;
  right: 23%;
}

.hife .menu_message_box {
  background-color: #fff;
  width: 80%;
  padding: 50px 30px 30px;
  margin-top: 100px;
  -webkit-box-shadow: 0 0 8px #d60e4c;
          box-shadow: 0 0 8px #d60e4c;
  border-radius: 10px;
}

.hife .menu_message_box_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.hife .menu_message_box_flex .menu_message_box_left {
  width: 57%;
  font-weight: bold;
  position: relative;
}

.hife .menu_message_box_flex .menu_message_box_left .details {
  width: 50%;
  margin-left: auto;
  margin-right: 0px;
  padding-top: 20px;
}

.hife .menu_message_box_flex .menu_message_box_left .details .details_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.hife .menu_message_box_flex .menu_message_box_left .details .details_flex a {
  color: #d60e4c;
}

.hife .menu_message_box_flex .menu_message_box_right {
  padding: 0 20px 0;
  position: relative;
  width: 25%;
  margin-left: 20px;
}

.mens {
  background-image: url(../img/assets/back_blue.png);
  background-size: cover;
  background-position: center center;
  padding: 20px;
  position: relative;
}

.mens .mens_picture {
  position: absolute;
  top: 10%;
  left: 22%;
}

.mens .mens_box {
  background-color: #fff;
  width: 70%;
  padding: 50px 30px;
  margin-top: 80px;
  -webkit-box-shadow: 0 0 8px #6b8dd9;
          box-shadow: 0 0 8px #6b8dd9;
  border-radius: 10px;
  margin-left: auto;
  margin-right: 0px;
}

.mens .mens_box .mens_box_text {
  width: 65%;
  margin-left: auto;
  margin-right: 0px;
  font-weight: bold;
}

.mens .mens_box .mens_box_text .details {
  width: 70%;
  margin-left: auto;
  margin-right: 0px;
  padding-top: 20px;
}

.mens .mens_box .mens_box_text .details .details_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.mens .mens_box .mens_box_text .details .details_flex a {
  color: #6b8dd9;
}

.whitening {
  background-image: url(../img/assets/back_white.png);
  background-size: cover;
  background-position: center center;
  padding: 20px 20px 100px;
  position: relative;
}

.whitening .whitening_picture {
  position: absolute;
  bottom: 10%;
  right: 22%;
}

.whitening .whitening_box {
  background-color: #fff;
  width: 70%;
  padding: 50px 30px;
  margin-top: 80px;
  -webkit-box-shadow: 0 0 8px #d60e4c;
          box-shadow: 0 0 8px #d60e4c;
  border-radius: 10px;
}

.whitening .whitening_box .whitening_box_text {
  width: 65%;
  font-weight: bold;
}

.whitening .whitening_box .whitening_box_text .details {
  width: 70%;
  margin-left: auto;
  margin-right: 0px;
  padding-top: 20px;
}

.whitening .whitening_box .whitening_box_text .details .details_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.whitening .whitening_box .whitening_box_text .details .details_flex a {
  color: #d60e4c;
}

.campaign {
  background-image: url(../img/assets/back_yellow.png);
  background-size: cover;
  background-position: center center;
  padding: 20px;
  position: relative;
}

.campaign .campaign_logo {
  position: absolute;
  top: 50%;
  /*親要素を起点に上から50%*/
  left: 20%;
  transform: translateY(-50%);
  /*要素の大きさの半分ずつを戻す*/
  -webkit-transform: translateY(-50%);
}

.campaign .carousel_box {
  width: 70%;
  margin-right: 0;
  margin-left: auto;
  text-align: center;
}

.campaign .swiper-button-prev,
.campaign .swiper-button-next {
  width: 32px;
  height: 32px;
  margin-top: -16px;
}

.campaign .swiper-button-prev {
  background: url(https://haniwaman.com/wp-content/uploads/2018/05/swiper3.png) no-repeat center center/contain;
}

.campaign .swiper-button-prev::after {
  content: "";
}

.campaign .swiper-button-next {
  background: url(https://haniwaman.com/wp-content/uploads/2018/05/swiper4.png) no-repeat center center/contain;
}

.campaign .swiper-button-next::after {
  content: "";
}

.news {
  background-image: url(../img/assets/background_pink.png);
  background-size: cover;
  background-position: center center;
  padding: 30px;
  position: relative;
}

.news .news_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.news .news_logo {
  width: 20%;
  text-align: right;
}

.news .news__items {
  margin: 60px auto 0;
  width: 80%;
  max-width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

@media (max-width: 767px) {
  .news .news__items {
    margin-top: 38px;
  }
}

.news .news__item {
  border-bottom: 1px solid #707070;
}

.news .news__item:last-child {
  border: none;
}

.news .info {
  padding: 20px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .news .info {
    display: block;
    padding: 12px 0;
  }
}

.news .info__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 185px;
  padding-top: 2px;
}

@media (max-width: 767px) {
  .news .info__meta {
    width: 100%;
    padding-top: 0;
  }
}

.news .info__published {
  width: 105px;
  display: inline-block;
  padding-top: 3px;
}

@media (max-width: 767px) {
  .news .info__published {
    width: auto;
  }
}

.news .info__label {
  width: 80px;
}

@media (max-width: 767px) {
  .news .info__label {
    width: auto;
    margin-left: auto;
  }
}

.news .info__label a {
  display: inline-block;
  color: #fff;
  font-weight: 700;
  text-align: center;
  padding: 8px;
  background: #e5004f;
  border-radius: 4px;
  text-decoration: none;
  line-height: 1;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 767px) {
  .news .info__label a {
    padding: 4px 8px;
  }
}

.news .info__label.info__label--type01 a {
  background: #e9578b;
  text-decoration: none;
}

.news .info__title {
  line-height: 1.25;
  width: calc(100% - 105px - 80px);
  padding: 5px 0 0 20px;
}

@media (max-width: 767px) {
  .news .info__title {
    width: 100%;
    margin-top: 6px;
    padding: 0;
  }
}

.news .info__title a {
  text-decoration: none;
  color: #333;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.news .news__link {
  text-align: center;
  margin-top: 44px;
}

.news .news__link a {
  text-decoration: none;
  color: #e81919;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-weight: 700;
}

.news .details {
  width: 30%;
  margin-left: auto;
  margin-right: 0px;
  padding-top: 20px;
}

.news .details .details_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.news .details .details_flex a {
  color: #d60e4c;
  font-weight: bold;
}

.access {
  background-image: url(../img/assets/back_sakura.png);
  background-size: cover;
  background-position: center center;
  padding: 20px;
  position: relative;
  margin-top: 30px;
}

.access .map_box {
  width: 25%;
  position: absolute;
  top: 0;
  right: 23%;
}

.access .iframe-wrap {
  position: relative;
  width: 100%;
  padding-top: 75%;
}

.access .iframe-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.access .inner {
  padding: 30px 80px 30px;
}

.access .access_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.access .access_flex .access_flex_left {
  width: 35%;
  padding: 20px;
}

.access .access_flex .access_flex_left p {
  font-weight: bold;
}

.access .access_flex .access_flex_left .access_flex_left_address {
  margin-bottom: 30px;
}

.access .access_flex .access_flex_left .access_flex_left_open {
  padding-bottom: 120px;
}

.access .access_flex .access_flex_right {
  width: 60%;
}

.reservation {
  background-image: url(../img/assets/star.png);
  background-size: cover;
  background-position: center center;
  padding: 20px;
}

.reservation .inner {
  padding: 30px 80px 30px;
}

.reservation .inner .reservation_counseling {
  text-align: center;
}
