// ==============================================
// BBL 部分
// ==============================================

.menu_bbl {
  background: #e6396a url("../common/images/hana-bk2-left.png") no-repeat left bottom;
  margin-top: 170px;
  z-index: -5;
  padding: 56px 0;

  @include mq(md) {
    margin: 0;
    padding: 30px 0;
  }

  .bbl_bk{
    background: url("../common/images/hana-bk2-right.png") no-repeat right bottom;
  }

  .menu_bbl_box {
    background-color: #fff;
    border-radius: 10px;
    /* 2021/02/08 */
    padding: 32px;

    @include mq(md) {
      /* 2021/02/08 */
      margin: 0 20px;
      /* 2021/02/08 */
      padding: 16px;
    }

    /* 2021/02/08 */
    @include mq(){
      margin: 0 10px;
    }

    .menu_bbl_box_flex {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;

      .menu_bbl_box_flex_left {
        width: 50%;

        @include mq() {
          width: 100%;
        }

        h2 {
          /* 2021/02/08 */
          margin-bottom: 16px;

          /* 2021/02/08 */
          img{
            height: 70px;
            @include mq(md){
              height: 50px;
            }
          }
        }

        .menu_bbl_box_flex_left_message {
          font-weight: bold;
        }

        .menu_bbl_list {
          margin-top: 30px;
        }

        .menu_bbl_lists {
          padding-left: 40px;
          background: url(../common/images/cheack_icon.png) left 0px top -2px no-repeat;
          margin: 20px 0;
          font-weight: bold;
        }
      }

      .menu_bbl_box_flex_right {
        width: 45%;

        @include mq() {
          width: 100%;
        }
      }
    }
  }
}

// ==============================================
// 業界初！光のパワー 部分
// ==============================================
.bbl_light_power {
  background: #ffffee url("../common/images/hana-bk4-right.png") no-repeat right top;
  padding: 56px 0;

  @include mq(md) {
    margin: 0;
    padding: 30px 0;
  }

  .bbl_light_power_bk{
    background: url("../common/images/hana-bk4-left.png") no-repeat left bottom;
  }

  .bbl_light_power_box {
    background-color: #fff;
    border-radius: 10px;
    /* 2021/02/08 */
    padding: 32px;
    box-shadow: 0 0 8px gray;

    @include mq(md) {
      margin: 0 20px;
      /* 2021/02/08 */
      padding: 16px;
    }

    @include mq() {
      margin: 0 10px;
    }

    .bbl_light_power_flex {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;

      .bbl_light_power_flex_left {
        width: 50%;
        /* 2021/02/08 */
        margin-top: 16px;

        @include mq(md) {
          width: 100%;
          order: 2;
        }

        img{
          vertical-align: bottom;
        }
      }

      .bbl_light_power_flex_right {
        width: 50%;

        @include mq(md) {
          width: 100%;
          order: 1;
        }

        .bbl_light_power_flex_right_title {
          color: #eb6794;
          font-size: 1.3rem;
          padding: 20px 0;
          padding-left: 10px;

          @include mq(md) {
            padding: 5px 0;
            text-align: center;
          }
        }

        .bbl_light_power_flex_right_message {
          font-weight: bold;
          padding-left: 10px;

          @include mq(md) {
            padding: 10px 0;
          }
        }
      }
    }
  }
}

// =============================================
// ふっくら美乳は作れる！ 部分
// =============================================
.bbl_tits {
  background: #fff4f6 url("../common/images/hana-bk.png") no-repeat left top;
  padding: 56px 0;

  @include mq(md) {
    margin: 0;
    padding: 30px 0;
  }

  .bbl_bk_tits{
    background: url("../common/images/hana-bk.png") no-repeat right top;
  }

  .bbl_tits_box {
    background-color: #fff;
    border-radius: 10px;
    /* 2021/02/08 */
    padding: 32px;
    box-shadow: 0 0 8px gray;

    @include mq(md) {
      margin: 0 20px;
      /* 2021/02/08 */
      padding: 16px;
    }

    @include mq() {
      margin: 0 10px;
    }

    .bbl_tits_flex {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;

      .bbl_tits_flex_left {
        width: 50%;

        @include mq(md) {
          width: 100%;
        }

        .bbl_tits_flex_left_title {
          color: #eb6794;
          font-size: 1.3rem;
          /* 2021/02/08 */
          padding: 0 0 20px;

          @include mq(md) {
            padding: 5px 0;
            text-align: center;
          }
        }

        .bbl_tits_flex_left_message {
          font-weight: bold;
          margin-bottom: 16px;
        }
      }

      .bbl_tits_flex_right {
        width: 50%;
        padding: 10px;

        @include mq(md) {
          width: 100%;
          padding: 0;
        }
      }
    }
  }
}



// ==============================================
// BBL 施術可能箇所 部分
// ==============================================
.bbl_points {
  background-image: url(../common/images/back_yellow.png);
  background-size: cover;
  background-position: center center;
  padding: 56px 0;
  text-align: center;

  .dis-sp1{
    display: none;
    @include mq(md){
      display: inline-block;
    }
  }

  @include mq(md) {
    padding: 30px 0;
  }
}

// ==============================================
// ＭＥＮＳ 流れ 部分
// ==============================================

.bbl__flow {
  padding: 56px 0;

  @include mq(md) {
    margin: 0;
    padding: 30px 0;
  }

  h2 {
    margin: 10px auto 0;
    width: 10%;
    /* 2021/02/08 */
    text-align: center;

    @include mq(md) {
      width: 30%;
    }
  }


  .bbl__innerArea_flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include mq(md) {
      justify-content: space-around;
    }

    .bbl__innerArea_flex_cards {
      width: 23%;
      text-align: left;
      margin-bottom: 10px;

      @include mq(md) {
        width: 48%;
        text-align: center;
        margin: 0 0 10px 0;
      }

      @include mq() {
        width: 95%;
        text-align: center;
      }

      h3 {
        font-size: 18px;

        @include mq() {
          font-size: 20px;
        }
      }

      p {
        font-size: 15px;

        @include mq() {
          width: 80%;
          padding: 0 10px 10px;
          margin: 0 auto;
          font-size: 16px;
        }
      }

      img {
        border: 1px solid #868686;
      }
    }
  }
}