// ==============================================
// キャンペーン一覧 部分
// ==============================================

.campaign_area {
  background-image: url(../common/images/back_yellow.png);
  background-size: cover;
  background-position: center center;
  margin-top: 170px;
  z-index: -5;
  padding: 56px 0;

  @include mq(md) {
    margin: 0;
    padding: 30px 0;
  }

  .campaign_area_flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .campaign_area_title {
    width: 20%;

    @include mq(md) {
      width: 40%;
      margin-left: 50px;
      margin-right: auto;
      margin-bottom: 20px;
    }

    @include mq() {
      width: 60%;
      margin-left: 50px;
      margin-right: auto;
      margin-bottom: 0;
    }
  }

  .campaign_area_box {
    width: 65%;

    @include mq(md) {
      width: 95%;
      ;
    }
  }

  .campaign_area_box_flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .campaign_area_box_cards {
      width: 45%;
      margin-bottom: 20px;

      &:hover {
        opacity: 0.7;
      }

      @include mq() {
        width: 90%;
        margin: 20px auto;
      }
    }
  }
}

// ==============================================
// キャンペーン詳細 部分
// ==============================================

.campaign_area_box_detail {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.campaign_detail_cards {
  h1 {
    padding: 0.5em;
    margin-top: 10px;
    background: #ffdcec;
    border-left: solid 5px #f19ec2;
    font-size: 24px;
  }

  h2{
    color: #eb6794;
    border: solid 3px #eb6794;
    padding: 0.5em;
    border-radius: 0.5em;
    font-size: 22px;
  }

  h3{
    color: #eb6794;
    font-size: 20px;
  }
  
  h4{
    font-size: 18px;
  }

  .campaign_detail_message {
    padding: 20px 0;
    font-size: 1rem;
    padding: 10px;
  }
}

// ==============================================
// リンク 部分
// ==============================================
.campaign_area_link {
  margin-top: 20px;

  .campaign_area_link_flex {
    display: flex;
    justify-content: space-around;

    .campaign_area_link_left {
      width: 115px;

      .campaign_area_link_left_flex {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .campaign_area_link_left_flex_top {
          width: 100%;
        }

        a {
          font-weight: bold;
          line-height: 2.2rem;
        }

        .left__arrow {
          transition: all 0.3s ease 0s;
          vertical-align: middle;

          &:hover {
            transform: translateX(-10px)
          }
        }

        .btn__move:hover .left__arrow {
          transform: translateX(-10px)
        }
      }
    }

    .campaign_area_link_center {

      width: 115px;

      .campaign_area_link_center_area {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .campaign_area_link_center_area_top {
          width: 100%;
          text-align: center;

          a {
            font-weight: bold;
            line-height: 2.2rem;
          }
        }
      }
    }

    .campaign_area_link_right {
      width: 115px;

      .campaign_area_link_right_flex {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .campaign_area_link_right_flex_top {
          width: 100%;
          text-align: right;
        }

        a {
          font-weight: bold;
          line-height: 2.2rem;
        }

        .right__arrow {
          transition: all 0.3s ease 0s;
          vertical-align: middle;

          &:hover {
            transform: translateX(-10px)
          }
        }

        .btn__move:hover .right__arrow {
          transform: translateX(10px)
        }
      }
    }
  }
}