.error {
  background: #e6396a url("../common/images/hana-bk5-left.png") no-repeat left top;
  margin-top: 170px;
  z-index: -5;
  padding: 56px 0;

  @include mq(md) {
    margin: 0;
    padding: 10px;
  }

  .contact_bk {
    background: url("../common/images/hana-bk2-right.png") no-repeat right top;
  }

  .section-title {
    text-align: center;
    width: 200px;
    margin: 20px auto;
  }

  .contact__item {
    margin: 0 auto;
    padding: 20px 60px;
    background: #fff;
    width: 800px;
    max-width: 100%;
    border-radius: 5px;
  }

  @media (max-width: 767px) {
    .contact__item {
      padding: 20px;
      margin-top: 26px;
    }
  }

  .contact__controls {
    margin: 0;
  }

  .contact__control {
    margin-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  @media (max-width: 767px) {
    .contact__control {
      display: block;
      margin-bottom: 40px;
    }
  }

  .contact__control_bottom_margin {
    margin-bottom: 5px;
  }

  .contact__control:last-child {
    margin-bottom: 0;
  }

  .contact__control dt {
    width: 160px;
    padding: 6px 0 0 20px;
    margin: 0;

  }

  @media (max-width: 767px) {
    .contact__control dt {
      width: 100%;
      padding-top: 0;
    }
  }

  .contact__control dd {
    width: 500px;
    padding: 0;
    margin: 0;
  }

  .non-input{
    position: relative;
  }

  .non-input:after{
    content: '入力されていません';
    position: absolute;
    bottom: -30px;
    left: 0;
    color: red;
    font-weight: bold;
  }

  @media (max-width: 767px) {
    .contact__control dd {
      width: 100%;
      margin-top: 8px;
    }
  }

  .contact__label {
    font-size: 16px;
    font-weight: 700;
  }

  @media (max-width: 767px) {
    .contact__label {
      font-size: 16px;
      display: inline-block;
    }
  }

  .contact__label--required {
    position: relative;
  }

  @media (max-width: 767px) {
    .contact__label--required {
      padding-right: 54px;
    }
  }

  .contact__label--required::after {
    content: "必須";
    position: absolute;
    background: #e81919;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 1;
    font-weight: 700;
    padding: 4px 8px;
    width: 44px;
    display: block;
    top: calc(100% + 8px);

    left: -50px;
    top: 0;
  }

  @media (max-width: 767px) {
    .contact__label--required::after {
      top: 50%;
      left: auto;
      right: 0;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }

  .contact__required {
    background: #e81919;
    border-radius: 12px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    padding: 1px 8px;
    width: 46px;
    display: block;
    margin-top: 6px;
  }



  .contact__check {
    margin-top: 40px;
    text-align: center;
  }

  .contact__check a {
    color: #333;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    font-weight: 700;
  }

  .contact__submit {
    text-align: center;
    background: #f19ec2;
    width: 200px;
    margin: 30px auto;
    padding: 20px 0;
    font-weight: bold;
    border-radius: 5px;

    &:hover {
      opacity: 0.7;
    }
  }

  .form-input {
    width: 100%;
    border: 1px solid red;
    background-color: pink;
    padding: 4px 16px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    background-image: none;
    border-radius: 0;
    color: inherit;
    font-family: inherit;
    font-size: 14px;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 38px;
  }

  @media (max-width: 767px) {
    .form-input {
      padding-top: 4px;
      padding-bottom: 4px;
    }
  }


  .form-textarea {
    width: 100%;
    height: 240px;
    border: 1px solid red;
    resize: none;
    padding: 10px 16px;
    line-height: 1.625;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    background-image: none;
    border-radius: 0;
    color: inherit;
    font-family: inherit;
    font-size: 14px;
    vertical-align: bottom;
  }

  @media (max-width: 767px) {
    .form-textarea {
      height: 180px;
    }
  }


  .form-checkbox {
    display: none;
  }

  .form-checkbox+span {
    cursor: pointer;
    display: inline-block;
    padding: 0 0 0 50px;
    position: relative;
  }

  @media (max-width: 767px) {
    .form-checkbox+span {
      padding-left: 25px;
    }
  }

  .form-checkbox+span::before,
  .form-checkbox+span::after {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .form-checkbox+span::before {
    background: #fff;
    border: 1px solid #707070;
    display: block;
    left: 0;
    width: 25px;
    height: 25px;
  }

  .form-checkbox+span::after {
    border: 1px solid transparent;
    left: 0;
    width: 25px;
    height: 25px;
    background: transparent url(../contact/images/icon.png) no-repeat center center/contain;
    -webkit-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
    opacity: 0;
  }

  .form-checkbox:checked+span::after {
    opacity: 1;
  }


  .contact__label--non-required {
    position: relative;
  }

  @media (max-width: 767px) {
    .contact__label--non-required {
      padding-right: 54px;
    }
  }

  .contact__label--non-required::after {
    content: "任意";
    position: absolute;
    background: #f19ec2;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 1;
    font-weight: 700;
    padding: 4px 8px;
    width: 44px;
    display: block;
    top: calc(100% + 8px);

    left: -50px;
    top: 0;
  }

  @media (max-width: 767px) {
    .contact__label--non-required::after {
      top: 50%;
      left: auto;
      right: 0;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }

  p {
    text-align: center;
  }

  .atention {
    margin-top: 5px;

    @include mq(md){
      font-size: 0.8rem;
    }
  }
}
