// =============================================
// footer 部分
// =============================================
footer {

  @include mq(md){
    margin-bottom: 90px;
  }


  .footer_flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    .footer_logo {
      margin-right: 20px;

      @include mq(md) {
        order: 2;
      }
    }

    .footer_list {
      width: 40%;
      padding: 10px;

      @include mq(md) {
        padding: 0;
        width: 60%;
        order: 3;
      }

      li {
        margin-bottom: 16px;
      }

      @include mq(md) {
        margin-left: 20px;
      }

      @include mq() {
        margin-left: 0;
      }

      a {
        @include mq(md) {
          font-size: 1.2rem;
        }
      }

      @include mq() {
        width: 100%;
        order: 3;
      }

      .footer_about {
        margin-bottom: 16px;
        font-size: 18px;

        @include mq() {
          text-align: center;
        }
      }

      span {
        color: #e12653;
        font-weight: bold;
        line-height: 2rem;
      }
    }


    .footer_list_flex {
      display: flex;
      justify-content: left;

      @include mq(md) {
        justify-content: space-around;
      }

      a {
        color: #e12653;
        font-weight: bold;

        @include mq() {
          font-size: 16px;
        }
      }

      .footer_list_flex_right {
        @include mq() {
          margin-top: 10px;
        }
      }

      .footer_list_flex_left {
        margin-right: 30px;

        @include mq(md) {
          margin: 10px 0 0 0;
        }
      }
    }

    .sns {
      width: 40%;

      @include mq(md) {
        width: 100%;
        text-align: center;
        order: 1;
        margin-bottom: 20px;
      }

      a {
        margin-right: 20px;
      }
    }
  }

  .footer_reserved {
    text-align: center;
  }
}