// ==============================================
// ＨＩＦＵ 部分
// ==============================================

.menu__hifu {
  background-color: #e6396a;
  padding: 30px 0;
  margin-top: 170px;
  z-index: -5;

  @include mq(md) {
    margin: 0;
  }

  .menu__hifu_box {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;

    @include mq(md) {
      margin: 0 10px;
    }

    @include mq() {
      margin: 0 5px;
    }

    .menu__hifu_box_flex {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      align-items: center;

      .menu__hifu_box_flex_left {
        width: 70%;
        padding: 20px;

        @include mq() {
          width: 100%;
        }

        h2 {
          margin-bottom: 10px;
        }

        .menu__hifu_box_flex_left_message {
          font-weight: bold;
        }

        .menu__hifu_list {
          margin-top: 30px;
        }

        .menu__hifu_lists {
          padding-left: 40px;
          background: url(../common/images/cheack_icon.png) left 0px top -2px no-repeat;
          margin: 20px 0;
          font-weight: bold;
        }
      }

      .menu__hifu_box_flex_right {
        width: 25%;
        text-align: center;

        @include mq() {
          width: 100%;
        }
      }
    }
  }
}

// ==============================================
// 無痛なのに効果が⾼い！ 部分
// ==============================================
.no_pain {
  background-color: #ffffee;
  padding: 30px 0;

  .no_pain_box {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 8px gray;

    @include mq(md) {
      margin: 0 10px;
    }

    @include mq() {
      margin: 0 5px;
      padding: 10px 0;
    }

    .no_pain_flex {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      align-items: center;

      .no_pain_flex_left {
        width: 50%;
        padding: 10px;

        @include mq() {
          width: 100%;
          order: 2;
        }
      }

      .no_pain_flex_right {
        width: 50%;
        padding: 10px;

        @include mq() {
          width: 100%;
          order: 1;
        }

        .no_pain_flex_right_title {
          color: #eb6794;
          font-size: 1.2rem;
          padding: 20px 0;

          @include mq() {
            padding: 5px 0;
            text-align: center;
          }
        }

        .no_pain_flex_right_message {
          font-weight: bold;

          @include mq() {
            padding: 10px;
          }
        }
      }
    }
  }
}

// =============================================
// 従来のHIFUを超えた蓄熱式超⾳波！ 部分
// =============================================
.usual_hifu {
  background-color: #fff4f6;
  padding: 30px 0;

  .usual_hifu_box {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 8px gray;

    @include mq(md) {
      margin: 0 10px;
    }

    @include mq() {
      margin: 0 5px;
      padding: 10px 0;
    }

    .usual_hifu_flex {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      align-items: center;

      .usual_hifu_flex_left {
        width: 50%;
        padding: 10px;

        @include mq() {
          width: 100%;
          padding: 10px;
        }

        .usual_hifu_flex_left_title {
          color: #eb6794;
          font-size: 1.2rem;
          padding: 20px 10px;

          @include mq() {
            padding: 5px 0;
            text-align: center;
          }
        }

        .usual_hifu_flex_left_message {
          font-weight: bold;
          padding: 10px;
        }
      }

      .usual_hifu_flex_right {
        width: 50%;
        padding: 10px;

        @include mq() {
          width: 100%;
        }
      }
    }
  }
}



// ==============================================
// ＨＩＨＵ 施術可能箇所 部分
// ==============================================
.hifu_points {
  background-image: url(../common/images/back_yellow.png);
  background-size: cover;
  background-position: center center;
  padding: 30px 0;
}

// ==============================================
// ＭＥＮＳ 流れ 部分
// ==============================================

.hifu__flow {

  h2 {
    margin: 10px auto 0;
    width: 10%;

    @include mq(md) {
      width: 30%;
    }
  }


  .hifu__innerArea_flex {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;

    @include mq(md) {
      justify-content: space-around;
    }

    .hifu__innerArea_flex_cards {
      width: 23%;
      text-align: left;
      margin-bottom: 10px;

      @include mq(md) {
        width: 48%;
        text-align: center;
        margin: 0 auto 25px;
      }

      @include mq() {
        width: 95%;
        text-align: center;
        margin: 0 auto 15px;
      }

      h3 {
        font-size: 18px;

        @include mq() {
          font-size: 20px;
        }
      }

      p {
        font-size: 15px;

        @include mq() {
          width: 80%;
          padding: 0 10px 10px;
          margin: 0 auto;
          font-size: 16px;
        }
      }

      img {
        border: 1px solid #868686;
      }
    }

    .hifu_margin1 {
      margin: 0 25px;

      @include mq() {
        margin: 0;
      }
    }

    .hifu_margin2 {
      margin-right: 25px;

      @include mq() {
        margin: 0;
      }
    }
  }
}