.menu_epitation {
  background-image: url(../common/images/back_red.png);
  background-size: cover;
  background-position: center center;
  margin-top: 170px;
  z-index: -5;
  padding: 30px 0;

  @include mq(md) {
    margin: 0;
  }

  .menu_epitation_box {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;

    @include mq(md){
      margin: 0 10px;
    }

    @include mq() {
      margin: 0 5px;
    }

    .menu_epitation_box_flex {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      align-items: center;

      .menu_epitation_box_flex_left {
        width: 50%;
        padding: 20px;

        @include mq() {
          width: 100%;
          padding: 10px;
        }

        h2 {
          margin-bottom: 10px;
        }

        p {
          font-weight: bold;
        }

        .epitation_list {
          margin-top: 30px;
        }

        .epitation_lists {
          padding-left: 40px;
          background: url(../common/images/cheack_icon.png) left 0px top -2px no-repeat;
          margin: 20px 0;
          font-weight: bold;
        }
      }

      .menu_epitation_box_flex_right {
        width: 45%;

        @include mq() {
          width: 100%;
        }
      }
    }
  }
}


// =============================================
// SHR方式 部分
// =============================================
.shr {
  background-color: #ffffee;
  padding: 30px 0;

  .shr_box {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 8px gray;

    @include mq(md){
      margin: 0 10px;
    }

    @include mq() {
      margin: 0 5px;
      padding: 10px 0;
    }

    .shr_flex {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      align-items: center;

      .shr_flex_left {
        width: 50%;

        @include mq() {
          width: 100%;
          order: 2;
        }
      }

      .shr_flex_right {
        width: 50%;
        padding: 10px;

        @include mq() {
          width: 100%;
          order: 1;
        }

        .shr_flex_right_title {
          color: #eb6794;
          padding: 20px 0;

          @include mq() {
            padding: 5px 0;
            text-align: center;
          }
        }

        .shr_flex_right_message {
          font-weight: bold;

          @include mq(){
            padding: 10px;
          }
        }
      }
    }
  }
}

// =============================================
// 毎月通えるから短期間に脱毛できちゃう 部分
// =============================================
.menu_schedule {
  background-color: #fff4f6;
  padding: 30px 0;

  .menu_schedule_box {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 8px gray;

    @include mq(md){
      margin: 0 10px;
    }

    @include mq() {
      margin: 0 5px;
      padding: 10px 0;
    }

    .menu_schedule_flex {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      align-items: center;

      .menu_schedule_flex_left {
        width: 50%;
        padding: 10px;

        @include mq() {
          width: 100%;
          padding: 10px;
        }

        .menu_schedule_flex_left_title {
          color: #eb6794;
          padding: 20px 10px;

          @include mq() {
            padding: 5px 0;
            text-align: center;
          }
        }

        .menu_schedule_flex_left_message {
          font-weight: bold;
          padding: 10px;
        }
      }

      .menu_schedule_flex_right {
        width: 50%;

        @include mq() {
          width: 100%;
        }
      }
    }
  }
}

// =============================================
// 全身脱毛60分！施術時間MAX1/2に時間短縮！ 部分
// =============================================
.menu_short {
  background-color: #ffffee;
  padding: 30px 0;

  .menu_short_box {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 8px gray;

    @include mq(md){
      margin: 0 10px;
    }

    @include mq() {
      margin: 0 5px;
      padding: 10px 0;
    }

    .menu_short_box_flex {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      align-items: center;

      .menu_short_box_flex_left {
        width: 50%;

        @include mq() {
          width: 100%;
          order: 2;
          padding: 0 5px;
        }
      }

      .menu_short_box_flex_right {
        width: 50%;
        padding: 10px;

        @include mq() {
          width: 100%;
          order: 1;
          padding: 10px;
        }

        .menu_short_box_flex_right_title {
          color: #eb6794;
          padding: 20px 10px;

          @include mq() {
            padding: 5px 0;
            text-align: center;
          }
        }

        .menu_short_box_flex_right_message {
          font-weight: bold;
          padding: 10px;
        }
      }
    }
  }
}

// ==============================================
// flow 施術までの流れ 部分
// ==============================================
.flow {

  h2 {
    margin: 10px auto 0;
    width: 10%;

    @include mq(md) {
      width: 30%;
    }
  }

  .tabBox_border_line {
    border-top: 1px solid #868686;
  }

  .tabBox .tabArea {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
  }

  .tabBox .tabArea .one_tab {
    width: 50%;
  }

  .tabBox .tabArea .one_tab a {
    display: block;
    text-decoration: none;
    transition-duration: 0.3s;
    text-align: center;
    color: #fff;
  }

  .tabBox .tabArea .one_tab a:hover {
    opacity: 0.7;
    text-decoration: none;
  }

  .tabBox .tabArea .one_tab .tab_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-size: 1.2rem;
    font-weight: bold;
    transition-duration: 0.3s;
    border-radius: 10px 10px 0 0;
    background-color: #808080;

    @include mq() {
      font-size: 0.8rem;
      height: 30px;
    }
  }

  .tabBox .tabArea .one_tab .tab_inner.non_selected {
    background-color: #fff;
    color: #808080;
    border: 1px solid #868686;
  }

  .tabBox .tabArea .one_tab a.select .tab_inner {
    height: 60px;

    @include mq() {
      height: 40px;
    }
  }

  .contents .tab_main {
    display: none;
    padding: 50px 0;
    text-align: center;
    min-height: 280px;
    transition-duration: 0.3s;
  }

  .innerArea_flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include mq(md){
      justify-content: space-around;
    }

    .innerArea_flex_cards {
      width: 23%;
      text-align: left;
      margin-bottom: 10px;

      @include mq(md){
        width: 48%;
        text-align: center;
        margin: 0 auto 25px;
      }

      @include mq() {
        width: 95%;
        text-align: center;
        margin: 0 auto 15px;
      }

      h3 {
        font-size: 18px;

        @include mq(){
          font-size: 20px;
        }
      }

      p {
        font-size: 15px;

        @include mq() {
          width: 80%;
          padding: 0 10px 10px;
          margin: 0 auto;
          font-size: 16px;
        }
      }

      img {
        border: 1px solid #868686;
      }
    }
  }

  .tab_main.is_show {
    display: block;
  }

}

// ==============================================
// 全身脱毛60分！施術時間MAX1/2に時間短縮！ 部分
// ==============================================
.epitation_parts {
  background-image: url(../common/images/back_yellow.png);
  background-size: cover;
  background-position: center center;
  padding: 30px 0;
}

// ==============================================
// BBL 部分
// ==============================================

.menu_bbl {
  background-color: #e6396a;
  padding: 30px 0;

  .menu_bbl_box {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;

    @include mq(md){
      margin: 0 10px;
    }

    @include mq() {
      margin: 0 5px;
    }

    .menu_bbl_box_flex {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      align-items: center;

      .menu_bbl_box_flex_left {
        width: 50%;
        padding: 20px;

        @include mq(){
          width: 100%;
        }

        h2 {
          margin-bottom: 10px;
        }

        .menu_bbl_box_flex_left_message {
          font-weight: bold;
        }

        .menu_bbl_list {
          margin-top: 30px;
        }

        .menu_bbl_lists {
          padding-left: 40px;
          background: url(../common/images/cheack_icon.png) left 0px top -2px no-repeat;
          margin: 20px 0;
          font-weight: bold;
        }
      }

      .menu_bbl_box_flex_right {
        width: 45%;

        @include mq(){
          width: 100%;
        }
      }
    }
  }
}

// ==============================================
// BBL 施術可能箇所 部分
// ==============================================
.bbl_points {
  background-image: url(../common/images/back_yellow.png);
  background-size: cover;
  background-position: center center;
  padding: 30px 0;
}