// =============================================
// ニュース 部分
// =============================================
.news_area {
  background-image: url(../common/images/back_yellow.png);
  background-size: cover;
  background-position: center center;
  margin-top: 170px;
  padding: 60px 0;
  position: relative;


  @include mq(md) {
    margin: 0;
    padding: 20px;
  }


  .news_area_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .news_area_logo {
    width: 20%;
    text-align: center;

    @include mq(md) {
      display: flex;
      justify-content: space-around;
      width: 100%;
    }

    .icons_box{
      margin-top: 20px;

      @include mq(md){
        width: 30%;
      }

      a{
        display: block;
      }

      .icons_news{
        width: 120px;
        margin: 0 auto;
        background: #e5004f;
        color: #fff;
        border-radius: 5px;
      }

      .icons_column{
        width: 120px;
        margin: 10px auto;
        background: #e9578b;
        color: #fff;
        border-radius: 5px;
      }
    }
  }

  .news_area__items {
    margin: 60px auto 0;
    width: 80%;
    max-width: 100%;
    background-color: #fff;
    /* 2021/02/08 */
    padding: 32px;
    border-radius: 10px;

    @include mq(lg) {
      margin: 30px auto 0;
    }

    @include mq(md){
      width: 95%;
      margin: 10px auto 0;
    }
  }

  .news_area__item {
    border-bottom: 1px dashed #707070;
  }

  .news_area__item:last-child {
    border: none;
  }

  .info {
    padding: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  @media (max-width: 767px) {
    .info {
      display: block;
      padding: 12px 0;
    }
  }

  .info__meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 185px;
    padding-top: 2px;
  }

  @media (max-width: 767px) {
    .info__meta {
      width: 100%;
      padding-top: 0;
    }
  }

  .info__published {
    width: 105px;
    display: inline-block;
    padding-top: 3px;
    font-weight: bold;
  }

  @media (max-width: 767px) {
    .info__published {
      width: auto;
    }
  }

  .info__label {
    width: 80px;
  }

  @media (max-width: 767px) {
    .info__label {
      width: auto;
      margin-left: auto;
    }
  }

  .info__label a {
    display: inline-block;
    width: 90px;
    color: #fff;
    text-align: center;
    padding: 5px 5px 3px 5px;
    background: #e9578b;
    border-radius: 4px;
    text-decoration: none;
    line-height: 1;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    font-size: 14px;
  }

  @media (max-width: 767px) {
    .info__label a {
      padding: 4px 8px;
    }
  }

  .info__label.info__label--type01 a {
    background: #e5004f;
    text-decoration: none;
  }


  .info__title {
    line-height: 1.25;
    width: calc(100% - 105px - 90px);
    padding: 5px 0 0 20px;
  }

  @media (max-width: 767px) {
    .info__title {
      width: 100%;
      margin-top: 6px;
      padding: 0;
    }
  }

  .info__title a {
    text-decoration: none;
    color: #333;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .news_area__link {
    text-align: center;
    margin-top: 44px;
  }

  .news_area__link a {
    text-decoration: none;
    color: #e81919;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    font-weight: 700;
  }

  .details {
    width: 275px;
    margin-left: auto;
    margin-right: 0px;
    padding-top: 20px;

    @include mq() {
      width: 220px;
    }

    .details_flex {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;

      a {
        color: #d60e4c;
        font-weight: bold;
        display: block;
        /* 2021/02/08 */
        height: 12px;
        font-size: 18px;

        @include mq() {
          font-size: 14px;
          height: 11px;
        }
      }
    }

    .btn_move img {
      transition: all 0.3s ease 0s;
      vertical-align: text-top;
    }

    .btn_move:hover img {
      transform: translateX(10px)
    }
  }

  .pagenation {
    margin-top: 12px;
    text-align: right;
  }
  
  .pagenation a {
    transition: all 0.3s ease 0s;
  }
  
  .pagenation a:hover {
    opacity: 0.6;
  }
  
  .pagenation a.next,
  .pagenation a.prev {
    font-size: 30px;
  }
  
  .pagenation a.next:hover,
  .pagenation a.prev:hover {
    opacity: 0.6;
  }
  
  .page-numbers {
    background: #fff;
    border: 1px solid #e2e2e2;
    color: #808080;
    display: inline-block;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    height: 40px;
    line-height: 38px;
    margin-right: 14px;
    min-width: 40px;
    text-align: center;
    text-decoration: none;
  }
  
  .page-numbers:last-child {
    margin-right: 0;
  }
  
  .page-numbers.current {
    background: #e5004f;
    border: 1px solid #e5004f;
    color: #fff;
    font-weight: 700;
  }
  
  .page-numbers.dots,
  .page-numbers.next,
  .page-numbers.prev {
    border: none;
    line-height: 40px;
    min-width: initial;
    width: auto;
  }
}

// =============================================
// ニュース詳細 部分
// =============================================
.news_area_detail {
  background-image: url(../common/images/back_yellow.png);
  background-size: cover;
  background-position: center center;
  margin-top: 170px;
  padding: 60px 0;
  position: relative;

  @include mq(md) {
    margin: 0;
    padding: 20px 0;
  }

  .news_area_detail_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .news_area_detail_logo {
    width: 20%;
    text-align: center;

    @include mq(lg) {
      width: 100%;
      text-align: center;
    }

    @include mq(md) {
      display: flex;
      justify-content: space-around;
    }

    .icons_box {
      margin-top: 20px;

      a {
        display: block;
      }

      .icons_news {
        width: 120px;
        margin: 0 auto;
        background: #e5004f;
        color: #fff;
        border-radius: 5px;
      }

      .icons_column {
        width: 120px;
        margin: 10px auto;
        background: #e9578b;
        color: #fff;
        border-radius: 5px;
      }
    }
  }

  .news_area_detail__items {
    margin: 60px auto 0;
    width: 80%;
    max-width: 100%;
    background-color: #fff;
    /* 2021/02/08 */
    padding: 32px;
    border-radius: 10px;

    @include mq(md) {
      width: 100%;
      margin: 20px auto 0;
      padding: 10px;
    }
  }

  .news_area_detail__info__meta {
    display: flex;
    justify-content: left;

    a {
      width: 90px;
      background: #e5004f;
      color: #fff;
      border-radius: 4px;
      text-align: center;
      font-size: 14px;
      padding: 3px 3px 1px 3px;
    }

    .news_area_detail__info__published {
      width: 150px;
      margin-left: 20px;
      font-weight: bold;
    }
  }

  .news_area_detail__item_title {
    margin: 20px 0;
  }

  .news_area_detail__item_message {
    padding: 10px;
    font-weight: bold;
  }

  // ==============================================
  // リンク 部分
  // ==============================================
  .campaign_area_link {
    margin-top: 20px;

    .campaign_area_link_flex {
      display: flex;
      justify-content: space-around;

      .campaign_area_link_left {
        width: 110px;

        .campaign_area_link_left_flex {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;

          .campaign_area_link_left_flex_top {
            width: 100%;
          }

          a {
            font-weight: bold;
            line-height: 2.2rem;
          }

          .left__arrow {
            transition: all 0.3s ease 0s;
            vertical-align: text-top;

            &:hover {
              transform: translateX(-10px)
            }
          }

          .btn__move:hover .left__arrow {
            transform: translateX(-10px)
          }
        }
      }

      .campaign_area_link_center {

        width: 110px;

        .campaign_area_link_center_area {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;

          .campaign_area_link_center_area_top {
            width: 100%;
            text-align: center;

            a {
              font-weight: bold;
              line-height: 2.2rem;
            }
          }
        }
      }

      .campaign_area_link_right {
        width: 110px;

        .campaign_area_link_right_flex {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;

          .campaign_area_link_right_flex_top {
            width: 100%;
            text-align: right;
          }

          a {
            font-weight: bold;
            line-height: 2.2rem;
          }

          .right__arrow {
            transition: all 0.3s ease 0s;
            vertical-align: text-top;

            &:hover {
              transform: translateX(-10px)
            }
          }

          .btn__move:hover .right__arrow {
            transform: translateX(10px)
          }
        }
      }
    }
  }
}