// =============================================
// main-area 部分
// =============================================

.main_area {
  background-image: url(../img/assets/background_pink.png);
  background-size: cover;
  background-position: center center;
  margin-top: 170px;
  z-index: -5;

  @include mq(md) {
    margin: 0;
  }

  .main_area_relative {
    position: relative;
  }

  .main_area_back {
    position: relative;
    z-index: 1;
    bottom: 0;

    img {
      vertical-align: bottom;
    }
  }

  .safe_pay {
    text-align: center;
    width: 50%;
    position: absolute;
    top: 10%;
    left: 0;
    z-index: 10;

    @include mq(lg) {
      left: 5%;
    }

    @include mq(md) {
      top: 5%;
      left: 5%;
    }
  }
}


// =============================================
// about 部分
// =============================================

.about {
  background-image: url(../img/assets/back_yellow.png);
  background-size: cover;
  background-position: center center;
  position: relative;
  padding: 20px;

  .about_flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;

    .about_left {
      width: 40%;

      @include mq(lg) {
        width: 40%;
      }

      @include mq() {
        width: 100%;
        margin-bottom: 30px;
      }
    }

    .about_right {
      width: 45%;

      img {
        object-fit: cover;
      }

      @include mq() {
        width: 100%;
        margin-bottom: 10px;
      }

      .about_message {
        font-weight: bold;
      }
    }
  }
}

// =============================================
// menu 部分
// =============================================
// =============================================
// 脱毛 部分
// =============================================

.menu {
  background-image: url(../img/assets/back_white.png);
  background-size: cover;
  background-position: center 60%;
  padding: 20px;

  .menu_message_box {
    background-color: #fff;
    width: 85%;
    padding: 50px 30px 10px;
    margin: 80px 0 50px;
    box-shadow: 0 0 8px #d60e4c;
    border-radius: 10px;
    position: relative;

    @include mq(lg) {
      width: 90%;
    }

    @include mq(md) {
      width: 100%;
      margin: 20px 0;
      padding: 10px;
    }

    @include mq() {
      width: 100%;
      margin-top: 20px;
    }

    .menu_massage_picture {
      position: absolute;
      top: -5%;
      right: -15%;

      @include mq(lg) {
        right: -14%;
      }

      @include mq(mx) {
        right: -10%;
        width: 330px;
      }

      @include mq(md) {
        top: 10%;
        right: -2%;
        width: 300px;
      }

      @include mq() {
        width: 100%;
        margin-bottom: 24px;
      }

      img {

        @include mq(md) {
          width: 90%;
        }

        @include mq() {
          width: 100%;
        }
      }

      @include mq() {
        position: static;
        text-align: center;
      }
    }
  }

  .menu_message_box_flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;

    .menu_message_box_left {
      width: 60%;
      font-weight: bold;
      position: relative;

      @include mq(md) {
        width: 50%;
      }

      .contents_img {
        margin-bottom: 24px;
      }

      p {
        @include mq(md) {
          padding-right: 10px;
        }
      }

      @include mq() {
        width: 100%;
      }

      .details {
        width: 60%;
        margin-left: auto;
        margin-right: 0px;
        padding-top: 20px;

        @include mq(mx){
          width: 90%;
        }

        @include mq(md) {
          width: 100%;
        }

        .details_flex {
          display: flex;
          justify-content: space-around;

          img {
            transition: all 0.3s ease 0s;
            vertical-align: text-top;

            &:hover {
              transform: translateX(10px)
            }
          }

          a {
            color: #d60e4c;
            display: block;
            height: 20px;
            font-size: 18px;
          }
        }

        .btn_move img {
          transition: all 0.3s ease 0s;
        }

        .btn_move:hover img {
          transform: translateX(10px)
        }
      }
    }

    .menu_message_box_right {
      padding: 0 20px 0;
      position: relative;
      width: 35%;
      text-align: center;

      img {
        width: 85%;

        @include mq(md) {
          width: 100%;
        }
      }

      @include mq(md) {
        width: 35%;
      }

      @include mq() {
        width: 100%;
      }
    }
  }

  // =============================================
  // BBL 部分
  // =============================================
  .menu_message_box_bbl {
    background-color: #fff;
    width: 85%;
    padding: 50px 30px 10px;
    margin: 60px 0 50px;
    box-shadow: 0 0 8px #d60e4c;
    border-radius: 10px;
    margin-left: auto;
    margin-right: 0px;
    position: relative;

    @include mq(md) {
      width: 100%;
      margin: 30px 0;
      padding: 10px;
    }

    @include mq() {
      width: 100%;
      margin-top: 20px;
    }

    .menu_message_box_bbl_picture {
      position: absolute;
      top: 15%;
      left: -20%;

      @include mq(lg) {
        left: -18%;
      }

      @include mq(md) {
        top: 15%;
        left: 1%;
      }

      @include mq() {
        position: static;
        margin-top: 20px;
        text-align: center;
        margin-bottom: 24px;
      }

      img {
        @include mq(mx){
          width: 75%;
        }

        @include mq(md) {
          width: 55%;
        }

        @include mq() {
          width: 100%;
        }
      }
    }

    .menu_message_box_bbl_text {
      width: 65%;
      margin-left: auto;
      margin-right: 0px;
      font-weight: bold;

      @include mq(md) {
        width: 55%;
      }

      @include mq() {
        width: 100%;
      }

      .contents_img {
        margin-bottom: 24px;
      }

      .details {
        width: 70%;
        margin-left: auto;
        margin-right: 0px;
        padding-top: 20px;

        @include mq(mx){
          width: 90%;
        }

        @include mq(md) {
          width: 100%;
        }

        .details_flex {
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;

          img {
            vertical-align: text-top;
            transition: all 0.3s ease 0s;

            &:hover {
              transform: translateX(10px)
            }
          }

          a {
            color: #d60e4c;
            display: block;
            height: 20px;
            font-size: 18px;
          }
        }

        .btn_move img {
          transition: all 0.3s ease 0s;
        }

        .btn_move:hover img {
          transform: translateX(10px)
        }
      }
    }
  }
}

// =============================================
// HIFE 部分
// =============================================
.hife {
  background-image: url(../img/assets/back_pink_flower.png);
  background-size: cover;
  background-position: center 60%;
  ;
  padding: 20px;

  .menu_message_box {
    background-color: #fff;
    width: 85%;
    padding: 50px 30px 10px;
    margin: 60px 0 50px;
    box-shadow: 0 0 8px #d60e4c;
    border-radius: 10px;
    position: relative;

    @include mq(mx){
      padding: 10px;
    }

    @include mq(md) {
      width: 100%;
      margin: 20px 0;
    }

    @include mq() {
      width: 100%;
      margin-top: 20px;
      padding: 10px;
    }

    .menu_massage_picture {
      position: absolute;
      top: -10%;
      right: -15%;
      text-align: right;

      @include mq(lg) {
        top: -10%;
        right: -16.5%;
      }

      @include mq(mx) {
        right: -20%;
      }

      @include mq(md) {
        right: 0;
        top: 25%;
      }

      @include mq() {
        position: static;
        text-align: center;
        margin-bottom: 24px;
      }

      img {

        @include mq(mx){
          width: 80%;
        }

        @include mq(md) {
          width: 60%;
        }

        @include mq() {
          width: 100%;
        }
      }
    }
  }

  .menu_message_box_flex {
    display: flex;
    justify-content: left;
    align-items: flex-end;
    flex-wrap: wrap;

    @include mq(md) {
      justify-content: space-between;
    }

    .menu_message_box_left {
      width: 62%;
      font-weight: bold;
      position: relative;

      @include mq(md) {
        width: 55%;
      }

      @include mq() {
        width: 100%;
      }

      .contents_img {
        margin-bottom: 24px;
      }

      .details {
        width: 60%;
        margin-left: auto;
        margin-right: 0px;
        padding-top: 20px;

        @include mq(lg) {
          width: 60%;
        }

        @include mq(mx){
          width: 90%;
        }

        @include mq(md) {
          width: 100%;
        }

        .details_flex {
          display: flex;
          justify-content: space-around;

          img {
            vertical-align: text-top;

            &:hover {
              transform: translateX(10px)
            }
          }

          a {
            color: #d60e4c;
            display: block;
            height: 20px;
            font-size: 18px;
          }
        }

        .btn_move img {
          transition: all 0.3s ease 0s;
        }

        .btn_move:hover img {
          transform: translateX(10px)
        }
      }
    }

    .menu_message_box_right {
      padding: 0 20px 0;
      position: relative;
      width: 30%;
      margin-left: 20px;

      @include mq(lg) {
        width: 30%;
      }

      @include mq(md) {
        width: 30%;
      }

      @include mq() {
        width: 100%;
        margin-top: 20px;
      }
    }
  }
}

// =============================================
// mens 部分
// =============================================
.mens {
  background-image: url(../img/assets/back_blue.png);
  background-size: cover;
  background-position: center center;
  padding: 20px;

  .mens_box {
    background-color: #fff;
    width: 85%;
    padding: 50px 30px 10px;
    margin: 60px 0 50px;
    box-shadow: 0 0 8px #6b8dd9;
    border-radius: 10px;
    margin-left: auto;
    margin-right: 0px;
    position: relative;

    @include mq(md) {
      width: 100%;
      margin: 20px 0;
      padding: 10px;
    }

    @include mq() {
      width: 100%;
      margin-top: 20px;
      padding: 10px;
    }

    .mens_picture {
      position: absolute;
      top: -10%;
      left: -20%;

      @include mq(lg) {
        left: -17%;
      }

      @include mq(mx){
        left: -19%;
      }

      @include mq(md) {
        top: 10%;
        left: 3%;
      }

      @include mq() {
        position: static;
        text-align: center;
        margin-bottom: 24px;
      }

      img {

        @include mq(mx) {
          width: 78%;
        }

        @include mq(md) {
          width: 60%;
        }

        @include mq() {
          width: 100%;
        }
      }
    }

    .mens_box_text {
      width: 65%;
      margin-left: auto;
      margin-right: 0px;
      font-weight: bold;

      @include mq(md) {
        width: 50%;
      }

      @include mq() {
        width: 100%;
      }

      .contents_img {
        margin-bottom: 24px;
      }

      .details {
        width: 70%;
        margin-left: auto;
        margin-right: 0px;
        padding-top: 20px;

        @include mq(mx){
          width: 90%;
        }

        @include mq(md) {
          width: 100%;
        }

        .details_flex {
          display: flex;
          justify-content: space-around;

          img {
            transition: all 0.3s ease 0s;
            vertical-align: text-top;

            &:hover {
              transform: translateX(10px)
            }
          }

          a {
            color: #6b8dd9;
            display: block;
            height: 20px;
            font-size: 18px;
          }
        }

        .btn_move img {
          transition: all 0.3s ease 0s;
        }

        .btn_move:hover img {
          transform: translateX(10px)
        }
      }
    }
  }
}

// =============================================
// ホワイトニング 部分
// =============================================
.whitening {
  background-image: url(../img/assets/back_white.png);
  background-size: cover;
  background-position: center center;
  padding: 5px 20px 100px;

  @include mq(lg) {
    padding: 20px;
  }

  @include mq() {
    padding: 20px;
  }

  .whitening_box {
    background-color: #fff;
    width: 85%;
    padding: 50px 30px 10px;
    margin-top: 70px;
    box-shadow: 0 0 8px #d60e4c;
    border-radius: 10px;
    position: relative;

    @include mq(lg) {
      margin: 20px 0;
    }

    @include mq(md) {
      width: 100%;
      padding: 10px;
    }

    @include mq() {
      width: 100%;
      margin-top: 20px;
      padding: 10px;
    }

    .whitening_picture {
      position: absolute;
      bottom: -15%;
      right: -20%;

      @include mq(lg) {
        right: -18%;
      }

      @include mq(mx){
        right: -20%;
        width: 340px;
      }

      @include mq(md) {
        right: 1%;
        bottom: 20%;
        text-align: right;
        width: 100%;
      }

      @include mq() {
        position: static;
        text-align: center;
        margin-bottom: 24px;
        width: 100%;
      }

      img {
        @include mq(md) {
          width: 45%;
        }

        @include mq() {
          width: 100%;
        }
      }
    }

    .whitening_box_text {
      width: 65%;
      font-weight: bold;

      @include mq(md) {
        width: 50%;
      }

      @include mq() {
        width: 100%;
      }

      .contents_img {
        margin-bottom: 24px;
      }

      .details {
        width: 80%;
        margin-left: auto;
        margin-right: 0px;
        padding-top: 20px;

        @include mq(lg) {
          width: 80%;
        }

        @include mq(mx){
          width: 100%;
        }

        @include mq(md) {
          width: 100%;
        }

        .details_flex {
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;

          img {
            transition: all 0.3s ease 0s;
            vertical-align: text-top;

            &:hover {
              transform: translateX(10px)
            }
          }

          a {
            color: #d60e4c;
            display: block;
            height: 20px;
            font-size: 18px;
          }
        }

        .btn_move img {
          transition: all 0.3s ease 0s;
        }

        .btn_move:hover img {
          transform: translateX(10px)
        }
      }
    }
  }
}

// =============================================
// キャンペーン 部分
// =============================================
.campaign {
  background-image: url(../img/assets/back_yellow.png);
  background-size: cover;
  background-position: center center;
  padding: 70px 20px;

  @include mq() {
    padding: 20px 10px;
  }

  .campaign_relative {
    position: relative;
  }

  .campaign_logo {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);

    @include mq(lg) {
      margin-top: 30px;
      position: static;
    }
  }

  .carousel_box {
    width: 75%;
    margin-right: 0;
    margin-left: auto;
    text-align: center;

    .swiper-slide {
      @include mq() {
        padding: 5px;
      }

      img {
        width: 90%;

        @include mq(lg) {
          width: 90%;
        }
      }
    }

    @include mq(lg) {
      width: 100%;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 32px;
    height: 32px;
    margin-top: -30px;

    @include mq() {
      margin-top: -35px;
    }
  }

  .swiper-button-prev {
    transition: all 0.3s ease 0s;

    &:hover {
      transform: translateX(-10px)
    }
  }

  .swiper-button-next {
    transition: all 0.3s ease 0s;

    &:hover {
      transform: translateX(10px)
    }
  }

  .swiper-button-prev {
    background: url(../img/assets/left_arrow.png) no-repeat center center / contain;
  }

  .swiper-button-prev::after {
    content: "";
  }

  .swiper-button-next {
    background: url(../img/assets/right_arrow.png) no-repeat center center / contain;
  }

  .swiper-button-next::after {
    content: "";
  }
}

// =============================================
// ニュース 部分
// =============================================
.news {
  background-image: url(../img/assets/back_pink_flower.png);
  background-size: cover;
  background-position: center center;
  padding: 30px;
  position: relative;

  @include mq(lg) {
    padding: 20px;
  }

  .news_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .news_logo {
    width: 20%;
    text-align: center;

    @include mq(lg) {
      width: 100%;
      text-align: center;
    }
  }

  .news__items {
    margin: 60px auto 0;
    width: 80%;
    max-width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;

    @include mq(lg) {
      margin: 30px auto 0;
    }

    @include mq(lg) {
      width: 100%;
    }
  }

  @media (max-width: 767px) {
    .news__items {
      margin-top: 38px;
    }
  }

  .news__item {
    border-bottom: 1px dashed #707070;
  }

  .news__item:last-child {
    border: none;
  }

  .info {
    padding: 20px 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  @media (max-width: 767px) {
    .info {
      display: block;
      padding: 12px 0;
    }
  }

  .info__meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 185px;
    padding-top: 2px;
  }

  @media (max-width: 767px) {
    .info__meta {
      width: 100%;
      padding-top: 0;
    }
  }

  .info__published {
    width: 105px;
    display: inline-block;
    padding-top: 3px;
    font-weight: bold;
  }

  @media (max-width: 767px) {
    .info__published {
      width: auto;
    }
  }

  .info__label {
    width: 80px;
  }

  @media (max-width: 767px) {
    .info__label {
      width: auto;
      margin-left: auto;
    }
  }

  .info__label a {
    display: inline-block;
    width: 90px;
    color: #fff;
    text-align: center;
    padding: 2px 5px;
    background: #e9578b;
    border-radius: 4px;
    text-decoration: none;
    line-height: 1;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    font-size: 14px;
  }

  @media (max-width: 767px) {
    .info__label a {
      padding: 4px 8px;
    }
  }

  .info__label.info__label--type01 a {
    background: #e5004f;
    text-decoration: none;
  }


  .info__title {
    line-height: 1.25;
    width: calc(100% - 105px - 90px);
    padding: 5px 0 0 20px;
  }

  @media (max-width: 767px) {
    .info__title {
      width: 100%;
      margin-top: 6px;
      padding: 0;
    }
  }

  .info__title a {
    text-decoration: none;
    color: #333;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .news__link {
    text-align: center;
    margin-top: 44px;
  }

  .news__link a {
    text-decoration: none;
    color: #e81919;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    font-weight: 700;
  }

  .details {
    width: 40%;
    margin-left: auto;
    margin-right: 0px;
    padding-top: 20px;

    @include mq(mx) {
      width: 50%;
    }

    @include mq() {
      width: 100%;
    }

    .details_flex {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;

      a {
        color: #d60e4c;
        font-weight: bold;
        display: block;
        height: 20px;
        font-size: 18px;

        @include mq() {
          font-size: 16px;
        }
      }
    }

    .btn_move img {
      transition: all 0.3s ease 0s;
      vertical-align: text-top;
    }

    .btn_move:hover img {
      transform: translateX(10px)
    }
  }
}

// =============================================
// access 部分
// =============================================

.access {
  background-image: url(../img/assets/back_sakura.png);
  background-size: cover;
  background-position: center 60%;
  padding: 30px 0;
  position: relative;
  margin-top: 30px;

  @include mq(md) {
    margin-top: 10px;
  }

  .access_logo {

    @include mq(md) {
      margin-bottom: 10px;
    }
  }

  .map_box {
    width: 20%;
    position: absolute;
    top: 0;
    right: 28%;

    @include mq(md) {
      position: static;
      width: 100%;
    }
  }

  .iframe-wrap {
    position: relative;
    width: 100%;
    padding-top: 75%;
  }

  .iframe-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .inner {
    padding: 30px 0;

    @include mq(md) {
      padding: 10px;
    }
  }

  .access_flex {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;

    .access_flex_left {
      width: 45%;
      padding: 0;

      @include mq(md) {
        width: 100%;
        padding: 0;
        margin-top: 20px;
      }

      p {
        font-weight: bold;
      }

      .access_flex_left_address {
        margin-bottom: 30px;
      }

      .access_flex_left_open {
        padding-bottom: 120px;

        @include mq(md) {
          padding: 10px;
        }
      }
    }

    .access_flex_right {
      width: 50%;

      @include mq(md) {
        width: 100%;
        text-align: center;
      }

      img {
        width: 60%;

        @include mq(md) {
          width: 100%;
        }
      }
    }
  }
}

// =============================================
// reservation 部分
// =============================================

.reservation {
  background-size: cover;
  background-position: center center;

  .inner {
    padding: 20px 0;

    @include mq(md) {
      padding: 0;
    }

    @include mq() {
      padding: 10px;
    }

    .reservation_counseling {
      text-align: center;
    }
  }

  .reservation_flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0;
    padding: 30px;
    border-bottom: 2px solid #e5004f;

    @include mq() {
      padding: 0;
    }

    .reservation_flex_left,
    .reservation_flex_right {
      width: 50%;

      @include mq() {
        width: 100%;
        text-align: center;
      }
    }
  }

  .reservation_flex2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0;
    padding: 50px 30px;
    border-bottom: 2px dotted #e5004f;

    @include mq() {
      padding: 10px;
    }

    .reservation_flex2_left,
    .reservation_flex2_right {
      width: 50%;

      @include mq() {
        width: 100%;
      }
    }
  }
}