// =============================================
// main-area 部分
// =============================================

.main_area {
  background-image: url(../common/images/background_pink.png);
  background-size: cover;
  background-position: center center;
  margin-top: 170px;
  z-index: -5;

  @include mq(md) {
    margin: 0;
  }

  .main_area_relative {
    position: relative;
  }

  .main_area_back {
    position: relative;
    z-index: 1;
    bottom: 0;

    img {
      vertical-align: bottom;
    }
  }

  .safe_pay {
    text-align: center;
    width: 50%;
    position: absolute;
    top: 10%;
    left: 0;
    z-index: 10;

    @include mq(lg) {
      left: 5%;
    }

    @include mq(md) {
      top: 5%;
      left: 5%;
    }
  }
}


// =============================================
// about 部分
// =============================================

.about {
  background-image: url(../common/images/back_yellow.png);
  background-size: cover;
  background-position: center center;
  position: relative;

  @include mq(lg) {
    padding: 20px;
  }

  .about_flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 56px 0;

    @include mq(md){
      padding:0;
    }
    

    .about_left {
      width: 50%;

      @include mq(lg) {
        width: 40%;
      }

      @include mq(md) {
        width: 100%;
        margin-bottom: 30px;
        order: 2;
      }
    }

    .about_right {
      width: 48%;

      @include mq(md) {
        width: 100%;
        margin-bottom: 10px;
      }

      .about_right_title{
        margin-top: 30px;

        @include mq(md){
          margin-top: 10px;
        }
      }

      .about_message {
        font-weight: bold;
        padding: 10px;
      }

      .details {
        width: 410px;
        margin-left: auto;
        margin-right: 0px;
        padding-top: 20px;

        @include mq() {
          width: 100%;
        }

        .details_flex {
          display: flex;
          justify-content: space-around;

          img {
            transition: all 0.3s ease 0s;
            vertical-align: text-top;

            &:hover {
              transform: translateX(10px)
            }
          }

          /* 2021/02/08 height 12pxに変更 */
          a {
            color: #d60e4c;
            display: block;
            height: 12px;
            font-size: 18px;
            font-weight: bold;

            @include mq() {
              font-size: 14px;
              height: 11px;
            }
          }
        }

        .btn_move img {
          transition: all 0.3s ease 0s;
        }

        .btn_move:hover img {
          transform: translateX(10px)
        }
      }
    }
  }
}

// =============================================
// menu 部分
// =============================================
// =============================================
// 脱毛 部分
// =============================================

.menu {
  background: #ffffee url("../common/images/hana-bk.png") no-repeat left top;


  .menu_bk {
    background: url("../common/images/hana-bk-right.png") no-repeat right top;
    padding: 20px 0;

    @include mq() {
      padding: 20px;
    }
  }

  /* 2021/02/08 paddingを32pxに変更 */
  .menu_message_box {
    background-color: #fff;
    width: 85%;
    padding: 32px;
    margin: 80px 0 50px;
    box-shadow: 0 0 8px #d60e4c;
    border-radius: 10px;
    position: relative;

    @include mq(lg) {
      width: 90%;
    }

    @include mq(md) {
      width: 90%;
      margin: 20px auto;
      padding: 10px;
    }

    @include mq() {
      width: 100%;
      margin-top: 20px;
    }

    .menu_massage_picture {
      position: absolute;
      top: -10%;
      right: -15%;

      @include mq(lg) {
        right: -14%;
      }

      @include mq(mx) {
        right: -10%;
        width: 330px;
      }

      @include mq(md) {
        width: 100%;
        margin-bottom: 24px;
      }

      img {

        @include mq(md) {
          width: 90%;
        }

        @include mq() {
          width: 100%;
        }
      }

      @include mq(md) {
        position: static;
        text-align: center;
      }
    }
  }

  .menu_message_box_flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;

    /* 2021/02/08 width64%に変更 */
    .menu_message_box_left {
      width: 64%;
      font-weight: bold;
      position: relative;

      @include mq(md) {
        width: 100%;
      }

      .contents_img {
        margin-bottom: 24px;
      }

      p {
        @include mq(md) {
          padding-right: 10px;
        }
      }

      .details {
        width: 250px;
        margin-left: auto;
        margin-right: 0px;
        padding-top: 20px;

        @include mq() {
          width: 210px;
        }

        .details_flex {
          display: flex;
          justify-content: space-around;

          img {
            transition: all 0.3s ease 0s;
            vertical-align: text-top;

            &:hover {
              transform: translateX(10px)
            }
          }

          /* 2021/02/08 heightを12pxに変更 */
          a {
            color: #d60e4c;
            display: block;
            height: 12px;
            font-size: 18px;

            @include mq() {
              font-size: 14px;
              height: 11px;
            }
          }
        }

        .btn_move img {
          transition: all 0.3s ease 0s;
        }

        .btn_move:hover img {
          transform: translateX(10px)
        }
      }
    }

    .menu_message_box_right {
      padding: 0 20px 0;
      position: relative;
      width: 35%;
      text-align: center;

      img {
        width: 85%;

        @include mq(md) {
          width: 100%;
        }
      }

      @include mq(md) {
        width: 50%;
        margin: 0 auto;
      }

      @include mq(){
        width: 100%;
      }

      
    }
  }

  // =============================================
  // BBL 部分
  // =============================================
  /* 2021/02/08 paddingを32pxに変更 */
  .menu_message_box_bbl {
    background-color: #fff;
    width: 85%;
    padding: 32px;
    margin: 60px 0 50px;
    box-shadow: 0 0 8px #d60e4c;
    border-radius: 10px;
    margin-left: auto;
    margin-right: 0px;
    position: relative;

    @include mq(md) {
      width: 90%;
      margin: 30px auto;
      padding: 10px;
    }

    @include mq() {
      width: 100%;
      margin-top: 35px;
    }

    .menu_message_box_bbl_picture {
      position: absolute;
      top: 15%;
      left: -20%;

      @include mq(lg) {
        left: -18%;
      }

      @include mq(md) {
        top: 15%;
        left: 1%;
      }

      @include mq(md) {
        position: static;
        margin-top: 20px;
        text-align: center;
        margin-bottom: 24px;
      }

      img {
        @include mq(mx) {
          width: 75%;
        }

        @include mq(md) {
          width: 100%;
        }
      }
    }

    .menu_message_box_bbl_text {
      width: 64%;
      margin-left: auto;
      margin-right: 0px;
      font-weight: bold;

      @include mq(md) {
        width: 100%;
      }

      .contents_img {
        margin-bottom: 24px;
      }

      .details {
        width: 360px;
        margin-left: auto;
        margin-right: 0px;
        padding-top: 20px;

        @include mq() {
          width: 290px;
        }

        .details_flex {
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;

          img {
            vertical-align: text-top;
            transition: all 0.3s ease 0s;

            &:hover {
              transform: translateX(10px)
            }
          }

          /* 2021/02/08 height12pxに*/
          a {
            color: #d60e4c;
            display: block;
            height: 12px;
            font-size: 18px;

            @include mq() {
              font-size: 14px;
              height: 11px;
            }
          }
        }

        .btn_move img {
          transition: all 0.3s ease 0s;
        }

        .btn_move:hover img {
          transform: translateX(10px)
        }
      }
    }
  }
}

// =============================================
// HIFE 部分
// =============================================
.hife {
  background: #e6396a url("../common/images/hana-bk2-left.png") no-repeat left bottom;


  .hife_bk {
    background: url("../common/images/hana-bk2-right.png") no-repeat right bottom;
    padding: 20px 0;

    @include mq() {
      padding: 20px;
    }
  }

  /* 2021/02/08 padding:32pxに */
  .menu_message_box {
    background-color: #fff;
    width: 85%;
    padding: 32px;
    margin: 60px 0 50px;
    box-shadow: 0 0 8px #d60e4c;
    border-radius: 10px;
    position: relative;

    @include mq(mx) {
      padding: 10px;
    }

    @include mq(md) {
      width: 90%;
      margin: 20px auto;
    }

    @include mq() {
      width: 100%;
      margin-top: 20px;
      padding: 10px;
    }

    .menu_massage_picture {
      position: absolute;
      top: -10%;
      right: -15%;
      text-align: right;

      @include mq(lg) {
        top: -10%;
        right: -16.5%;
      }

      @include mq(mx) {
        right: -15%;
      }

      @include mq(md) {
        position: static;
        text-align: center;
        margin-bottom: 24px;
      }

      img {

        @include mq(mx) {
          width: 75%;
        }

        @include mq(md) {
          width: 100%;
        }
      }
    }
  }

  .menu_message_box_flex {
    display: flex;
    justify-content: left;
    align-items: flex-end;
    flex-wrap: wrap;

    @include mq(md) {
      justify-content: space-between;
    }

    /* 2021/02/08 width:64%に */
    .menu_message_box_left {
      width: 64%;
      font-weight: bold;
      position: relative;

      @include mq(md) {
        width: 100%;
      }

      .contents_img {
        margin-bottom: 24px;
      }

      .details {
        width: 260px;
        margin-left: auto;
        margin-right: 0px;
        padding-top: 20px;

        @include mq() {
          width: 210px;
        }

        .details_flex {
          display: flex;
          justify-content: space-around;

          img {
            vertical-align: text-top;

            &:hover {
              transform: translateX(10px)
            }
          }

          /* 2021/02/08 height:12px */
          a {
            color: #d60e4c;
            display: block;
            height: 12px;
            font-size: 18px;

            @include mq() {
              font-size: 14px;
              height: 11px;
            }
          }
        }

        .btn_move img {
          transition: all 0.3s ease 0s;
        }

        .btn_move:hover img {
          transform: translateX(10px)
        }
      }
    }

    .menu_message_box_right {
      padding: 0 20px 0;
      position: relative;
      width: 30%;
      margin-left: 20px;

      @include mq(lg) {
        width: 30%;
      }

      @include mq(md) {
        width: 100%;
        margin-top: 20px;
        text-align: center;
      }
    }
  }
}

// =============================================
// mens 部分
// =============================================
.mens {
  background: #c2d6f0 url("../common/images/hana-bk3-right.png") no-repeat right top;


  .mens_bk {
    background: url("../common/images/hana-bk3-left.png") no-repeat left top;
    padding: 20px 0;
  }

  /* 2021/02/08 padding:32pxに */
  .mens_box {
    background-color: #fff;
    width: 85%;
    padding: 32px;
    margin: 60px 0 50px;
    box-shadow: 0 0 8px #6b8dd9;
    border-radius: 10px;
    margin-left: auto;
    margin-right: 0px;
    position: relative;

    @include mq(md) {
      width: 90%;
      margin: 20px auto;
      padding: 10px;
    }

    @include mq() {
      margin-top: 20px;
      padding: 10px;
    }

    .mens_picture {
      position: absolute;
      top: -10%;
      left: -20%;

      @include mq(lg) {
        left: -17%;
      }

      @include mq(mx) {
        left: -19%;
      }

      @include mq(md) {
        position: static;
        text-align: center;
        margin-bottom: 24px;
      }

      img {

        @include mq(mx) {
          width: 78%;
        }

        @include mq(md) {
          width: 100%;
        }
      }
    }

    /* 2021/02/08 width64%に */
    .mens_box_text {
      width: 64%;
      margin-left: auto;
      margin-right: 0px;
      font-weight: bold;

      @include mq(md) {
        width: 100%;
      }

      .contents_img {
        margin-bottom: 24px;
      }

      .details {
        width: 303px;
        margin-left: auto;
        margin-right: 0px;
        padding-top: 20px;

        @include mq() {
          width: 250px;
        }

        .details_flex {
          display: flex;
          justify-content: space-around;

          img {
            transition: all 0.3s ease 0s;
            vertical-align: text-top;

            &:hover {
              transform: translateX(10px)
            }
          }

          /* 2021/02/08 height12px */
          a {
            color: #6b8dd9;
            display: block;
            height: 12px;
            font-size: 18px;

            @include mq() {
              font-size: 14px;
              height: 11px;
            }
          }
        }

        .btn_move img {
          transition: all 0.3s ease 0s;
        }

        .btn_move:hover img {
          transform: translateX(10px)
        }
      }
    }
  }
}

// =============================================
// ホワイトニング 部分
// =============================================
.whitening {
  background: #ffffee url("../common/images/hana-bk4-right.png") no-repeat right top;

  .whitening_bk {
    background: url("../common/images/hana-bk4-left.png") no-repeat left bottom;
    padding: 5px 20px 100px;

    @include mq(lg) {
      padding: 20px 20px 60px 20px;
    }

    @include mq(md) {
      padding: 20px 0;
    }

  }

  /* 2021/02/08 padding32pxに */
  .whitening_box {
    background-color: #fff;
    width: 85%;
    padding: 32px;
    margin-top: 70px;
    box-shadow: 0 0 8px #d60e4c;
    border-radius: 10px;
    position: relative;

    @include mq(lg) {
      margin: 20px 0;
    }

    @include mq(md) {
      width: 90%;
      margin: 20px auto;
      padding: 10px;
    }

    @include mq() {
      margin-top: 20px;
      padding: 10px;
    }

    .whitening_picture {
      position: absolute;
      bottom: -15%;
      right: -20%;

      @include mq(lg) {
        right: -18%;
      }

      @include mq(mx) {
        right: -20%;
        width: 340px;
      }

      @include mq(md) {
        position: static;
        text-align: center;
        margin-bottom: 24px;
        width: 100%;
      }

      img {
        @include mq(md) {
          width: 100%;
        }
      }
    }

    /* 2021/02/08 width:64% */
    .whitening_box_text {
      width: 64%;
      font-weight: bold;

      @include mq(md) {
        width: 100%;
      }

      .contents_img {
        margin-bottom: 24px;
      }

      .details {
        width: 397px;
        margin-left: auto;
        margin-right: 0px;
        padding-top: 20px;

        @include mq() {
          width: 100%;
        }

        .details_flex {
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;

          img {
            transition: all 0.3s ease 0s;
            vertical-align: text-top;

            &:hover {
              transform: translateX(10px)
            }
          }

          /* 2021/02/08 height12px */
          a {
            color: #d60e4c;
            display: block;
            height: 12px;
            font-size: 18px;

            @include mq() {
              font-size: 14px;
              height: 11px;
            }
          }
        }

        .btn_move img {
          transition: all 0.3s ease 0s;
        }

        .btn_move:hover img {
          transform: translateX(10px)
        }
      }
    }
  }
}

// =============================================
// キャンペーン 部分
// =============================================
.campaign {
  background-image: url(../common/images/back_yellow.png);
  background-size: cover;
  background-position: center center;
  padding: 70px 20px;

  @include mq() {
    padding: 20px 10px;
  }

  .campaign_relative {
    position: relative;
  }

  .campaign_logo {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);

    @include mq(lg) {
      margin-top: 30px;
      position: static;
    }
  }

  .carousel_box {
    width: 75%;
    margin-right: 0;
    margin-left: auto;
    text-align: center;

    .swiper-slide {

      a:hover{
        opacity: 1;
      }
      
      @include mq() {
        padding: 5px;
      }

      /* 2021/02/08 margin-bottom8px */
      img {
        width: 90%;
        margin-bottom: 8px;

        @include mq(lg) {
          width: 90%;
        }
      }
    }

    @include mq(lg) {
      width: 100%;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 32px;
    height: 32px;
    margin-top: -28px;

    @include mq() {
      margin-top: -35px;
    }
  }

  .swiper-button-prev {
    transition: all 0.3s ease 0s;

    &:hover {
      transform: translateX(-10px)
    }
  }

  .swiper-button-next {
    transition: all 0.3s ease 0s;

    &:hover {
      transform: translateX(10px)
    }
  }

  .swiper-button-prev {
    background: url(../common/images/left_arrow.png) no-repeat center center / contain;
  }

  .swiper-button-prev::after {
    content: "";
  }

  .swiper-button-next {
    background: url(../common/images/right_arrow.png) no-repeat center center / contain;
  }

  .swiper-button-next::after {
    content: "";
  }
}

// =============================================
// ニュース 部分
// =============================================
.news {
  background: #e6396a url("../common/images/hana-bk2-left.png") no-repeat left bottom;
  position: relative;

  .news_bk {
    background: url("../common/images/hana-bk2-right.png") no-repeat right bottom;
    padding: 60px 0;

    @include mq() {
      padding: 20px;
    }
  }

  .news_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .news_logo {
    width: 20%;
    text-align: center;

    @include mq(lg) {
      width: 100%;
      text-align: center;
    }
  }

  .news__items {
    margin: 60px auto 0;
    width: 80%;
    max-width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;

    @include mq(lg) {
      margin: 30px auto 0;
    }

    @include mq(md){
      width: 95%;
    }
  }

  @media (max-width: 767px) {
    .news__items {
      margin-top: 38px;
    }
  }

  .news__item {
    border-bottom: 1px dashed #707070;
  }

  .news__item:last-child {
    border: none;
  }

  .info {
    padding: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  @media (max-width: 767px) {
    .info {
      display: block;
      padding: 12px 0;
    }
  }

  .info__meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 185px;
    padding-top: 2px;
  }

  @media (max-width: 767px) {
    .info__meta {
      width: 100%;
      padding-top: 0;
    }
  }

  .info__published {
    width: 105px;
    display: inline-block;
    padding-top: 3px;
    font-weight: bold;
  }

  @media (max-width: 767px) {
    .info__published {
      width: auto;
    }
  }

  .info__label {
    width: 80px;
  }

  @media (max-width: 767px) {
    .info__label {
      width: auto;
      margin-left: auto;
    }
  }

  .info__label a {
    display: inline-block;
    width: 90px;
    color: #fff;
    text-align: center;
    padding: 5px 5px 3px 5px;
    background: #e9578b;
    border-radius: 4px;
    text-decoration: none;
    line-height: 1;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    font-size: 14px;
  }

  @media (max-width: 767px) {
    .info__label a {
      padding: 4px 8px;
    }
  }

  .info__label.info__label--type01 a {
    background: #e5004f;
    text-decoration: none;
  }


  .info__title {
    line-height: 1.25;
    width: calc(100% - 105px - 90px);
    padding: 5px 0 0 20px;
  }

  @media (max-width: 767px) {
    .info__title {
      width: 100%;
      margin-top: 6px;
      padding: 0;
    }
  }

  .info__title a {
    text-decoration: none;
    color: #333;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .news__link {
    text-align: center;
    margin-top: 44px;
  }

  .news__link a {
    text-decoration: none;
    color: #e81919;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    font-weight: 700;
  }

  .details {
    width: 265px;
    margin-left: auto;
    margin-right: 0px;
    padding-top: 20px;

    @include mq(md) {
      width: 225px;
    }


    .details_flex {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;

      a {
        color: #d60e4c;
        font-weight: bold;
        display: block;
        height: 12px;
        font-size: 18px;

        @include mq() {
          font-size: 14px;
          height: 11px;
        }
      }
    }

    .btn_move img {
      transition: all 0.3s ease 0s;
      vertical-align: text-top;
    }

    .btn_move:hover img {
      transform: translateX(10px)
    }
  }
}

// =============================================
// access 部分
// =============================================

.access {
  padding: 30px 0;
  margin-top: 30px;

  @include mq(md) {
    margin-top: 10px;
  }

  .access_logo {

    @include mq(md) {
      margin-bottom: 10px;
    }
  }

  .inner {
    background: url("../common/images/sakura-left.png") no-repeat left bottom;
    padding: 30px 0 0 0;
    position: relative;

    @include mq(md) {
      padding: 10px;
    }

    .access_bk{
      background: url("../common/images/sakura-right.png") no-repeat right top;
    }
  }

  /* 2021/02/08 追加*/
  .access_logo img{
    margin-bottom: 24px;
  }

  .map_box {
    width: 48%;
    position: absolute;
    top: 0;
    right: 0;

    @include mq(md) {
      position: static;
      width: 100%;
    }
  }

  .iframe-wrap {
    position: relative;
    width: 100%;
    padding-top: 75%;
  }

  .iframe-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;

    @include mq(md) {
      height: 100%;
    }
  }

  .access_flex {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;

    .access_flex_left {
      width: 35%;
      padding: 0;

      img{
        margin-bottom: 12px;
      }

      @include mq(md) {
        width: 100%;
        padding: 0;
        margin-top: 20px;
      }

      p {
        font-weight: bold;
      }

      .access_flex_left_address {
        margin-bottom: 30px;
      }

      .access_flex_left_open {
        padding-bottom: 200px;

        @include mq(mx){
          padding-bottom: 180px;
        }

        @include mq(md) {
          padding: 10px;
        }
      }
    }

    .access_flex_right {
      width: 55%;

      @include mq(md) {
        width: 100%;
        text-align: center;
      }

      img {
        @include mq(md) {
          width: 100%;
        }
      }
    }
  }
}

/* 2021/02/08 追加*/
@media screen and (min-width: 767px) {
  .access .access_flex .access_flex_right img {
    width: 72%;
  }
}

// =============================================
// reservation 部分
// =============================================

.reservation {
  background-size: cover;
  background-position: center center;
  padding: 20px 0;


  .inner {
    padding: 20px 0;

    /* 2021/02/08 */
    @include mq(md) {
      padding: 10px;
    }

    .reservation_counseling {
      text-align: center;
      position: relative;

      .star1 {
        position: absolute;
        top: 0;
        right: 8%;
      }

      .star2 {
        position: absolute;
        bottom: 0;
        left: 8%;
      }

      .counseling_title {
        font-size: 38px;
        font-weight: bold;
        color: #e9578b;

        @include mq() {
          font-size: 24px;
          margin-top: 10px;
        }


        span {
          background: linear-gradient(transparent 50%, yellow 50%);
        }
      }

      .counseling_message {
        font-size: 18px;
        font-weight: bold;

        @include mq() {
          font-size: 12px;
          margin-top: 10px;
          padding: 0 10px;
        }

        span {
          color: #e9578b;
        }
      }
    }
  }

  .reservation_flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0;
    padding: 30px;
    border-bottom: 2px solid #e5004f;
    

    @include mq() {
      padding: 0 0 24px;
    }

    .reservation_flex_left,
    .reservation_flex_right {
      width: 50%;
      text-align: center;

      @include mq() {
        width: 100%;
        text-align: center;
      }
    }
  }

  .reservation_flex2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0;
    padding: 50px 30px;
    border-bottom: 2px dotted #e5004f;
    text-align: center;

    @include mq() {
      padding: 10px;
    }

    .reservation_flex2_left,
    .reservation_flex2_right {
      width: 48%;

      @include mq() {
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
}